body{
    background-color: lightblue;
    font: 14pt cursive;
    color: blue;
}

#main{
    border: 2px solid black;
    width: 200px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

input{
    font-size: 1.1em;
}

button{
    width: 60px;
    font-size: 1.1em;
    background-color: aquamarine;
}

